.img{
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    margin-left: 100px;
}

.main{
    display: flex;
    background-color: gainsboro;
    justify-content: space-around;
    margin-bottom: 5px;
    margin-right: 100px;
    margin-left: 100px;
}
.main li {
    list-style-type: none;
    text-align: center;
}


.flex-container {
    display: flex;
    /*background-color: aquamarine; 
    align-items: center;*/
    justify-content: center;
    margin-right: 100px;
    margin-left: 100px;
}

#left {
   background-color:  aquamarine;
   margin-right: 5px;
}
#middle {
    background-color:  aquamarine;

 }

#right {
    background-color:  aquamarine;
    margin-left: 5px;
    text-align: center;
    padding-top: 14px;
 }
 

.flex-container li {
    list-style-type: none;
    text-align: center;
}